body {
 background-color: #eee;
 margin: 0px;
 font-family: Helvetica, sans-serif;
}

.master-container {
 background-color: #fff;
 margin: 100px auto 0px auto;
 width: 50%;
 height: 70vh;
 box-shadow: 0px 0px 25px #888888 ;
 position: relative;
}

.heading {
 margin: 0px;
 padding: 15px 0px;
 text-align: center;
 background-color: lightseagreen;
}

.friends-list-container {
 margin: 30px auto 100px auto;
 width: 50%;
 text-align: center;
}

.friend {
 list-style: none;
 font-size: 20px;
}

.add-friend-container {
 position: absolute;
 bottom: 30px;
 left: 200px;
}

input {
 height: 5vh;
 width: 20vw;
 font-size: 15px;
 padding: 0px 10px;
}

button {
 margin-left: 5px;
 background-color: #ddd;
 height: 40px;
 width: 40px;
 border-style: none;
 border-radius: 50%;
 font-size: 25px;
 font-weight: bold;
 box-shadow: 1px 3px 5px #888;
}

input:focus, button:focus {
 outline: none;
}

button:hover {
 background-color: lightseagreen;
}
